<!-- <h2>L'id recupere est : {{ myPara }}</h2> -->

<!-- <ng-container
  *ngIf="myPara == 1; then tutoAngular; then: tutoCrud; else: tutoError"
>
</ng-container>

<ng-template #tutoAngular>
  <div>
    <div class="row">
      <div class="bg-danger col text-center my-3">
        <h1 class="text-light display-4">Mini tutoriel Angular 10</h1>
      </div>
    </div>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, expedita
      officia! Dolores repellendus iusto veniam necessitatibus veritatis quae
      enim sapiente minus a voluptate in natus harum quasi officia atque quis
      suscipit totam, temporibus, ipsam repudiandae neque dignissimos eligendi.
      Fugiat, voluptates voluptas sed facilis velit temporibus obcaecati unde
      rerum vero soluta! Voluptatem eveniet natus quae enim. Praesentium optio
      dolores consectetur, distinctio iure veritatis expedita tempora odit
      minus, perspiciatis impedit, at in quas vitae beatae! Temporibus similique
      eius inventore, ducimus sed dolore animi asperiores expedita eos quaerat
      vero vitae maiores ad sit aperiam tempora omnis numquam voluptas, ab
      laboriosam! Perspiciatis, exercitationem tempora!
    </p>
  </div>
</ng-template>

<ng-template #tutoCrud>
  <ng-container *ngIf="myPara == 2; else tutoRelations">
    <div>
      <div class="row">
        <div class="bg-danger col text-center my-3">
          <h1 class="text-light display-4">Mini tutoriel Crud</h1>
        </div>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat
        ducimus molestias soluta blanditiis quos nulla. Inventore, ut deleniti
        quisquam fugit quibusdam voluptatibus praesentium nam. Iure vitae neque
        error eveniet sit voluptatem debitis unde perspiciatis rem. Quod vel
        cupiditate optio alias eveniet, excepturi provident tempora, aut
        eligendi ullam, sunt fugiat dicta libero natus illum nulla. Doloribus
        recusandae molestias facilis voluptatem reiciendis odit, beatae modi
        reprehenderit impedit natus, necessitatibus, architecto enim
        exercitationem optio? Quasi voluptas alias incidunt corporis consectetur
        perferendis unde exercitationem voluptatibus, sequi minus culpa debitis,
        iure dolores vel fugiat dolorum vero enim maiores nostrum? Assumenda
        facere sed nam aliquid inventore!
      </p>
    </div>
  </ng-container>
</ng-template>

<ng-template #tutoRelations>
  <ng-container *ngIf="myPara == 3; else tutoRelations">
    <div>
      <div class="row">
        <div class="bg-danger col text-center my-3">
          <h1 class="text-light display-4">Mini Tuto Relations</h1>
        </div>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat
        ducimus molestias soluta blanditiis quos nulla. Inventore, ut deleniti
        quisquam fugit quibusdam voluptatibus praesentium nam. Iure vitae neque
        error eveniet sit voluptatem debitis unde perspiciatis rem. Quod vel
        cupiditate optio alias eveniet, excepturi provident tempora, aut
        eligendi ullam, sunt fugiat dicta libero natus illum nulla. Doloribus
        recusandae molestias facilis voluptatem reiciendis odit, beatae modi
        reprehenderit impedit natus, necessitatibus, architecto enim
        exercitationem optio? Quasi voluptas alias incidunt corporis consectetur
        perferendis unde exercitationem voluptatibus, sequi minus culpa debitis,
        iure dolores vel fugiat dolorum vero enim maiores nostrum? Assumenda
        facere sed nam aliquid inventore!
      </p>
    </div>
  </ng-container>
</ng-template>

<ng-template #tutoError>
  <div>
    <div class="row">
      <div class="bg-danger col text-center my-3">
        <h1 class="text-light display-4">Tutoriel introuvable</h1>
        <a [routerLink]="['/tutoriel/1']" class="btn btn-light mb-2"
          >Tuto Angular</a
        >
        <a [routerLink]="['/home']" class="btn btn-light mb-2">Tuto Angular</a>
        <a [routerLink]="['/home']" class="btn btn-light mb-2">Tuto Angular</a>
        <a [routerLink]="['/home']" class="btn btn-light mb-2">Tuto Angular</a>
      </div>
    </div>
  </div>
</ng-template> -->
